

body  {
    background: linear-gradient(135deg,#A84328,#712812);
    color: white;
}

p {
    font-family: sans-serif;
    text-align: left;
}


ul {
    font-family: sans-serif;
    list-style: none;
}


.navigation{ 
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    width:100%;
    height:50px;
    position:fixed;
    top:0;
    font-family: sans-serif;
    font-size: 1em;
    transform: translateX(-9px);}

.navvi{
  display: flex;
  align-items: center;
  line-height: 50px;
  transform: translateY(-16px);
  
}

.logo{
    font-family: Brush Script MT;
    font-size: 1.8em;
    width:800px;
    text-align: left;
    color:rgba(145, 45, 45, 0.932);

}
.button{
  width: 170px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.button:hover {
  background-color: rgba(124, 40, 40, 0.9);
}

.button:hover a{
   font-size: larger;
  }


a:link {
    color: rgba(255, 250, 245, 1);
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

header {
    background-image: url("./assets/the-forbidden-city.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width:100.8%;
    height: 700px;
    transform: translateY(-19px);
    margin:-5px; 
}

#wrapper {
    max-width: 1200px;
    margin: auto;
}

#footer {
    background-color: black;
    padding-bottom: 3em;
    text-align: center;
    width:110%;
    height:100px;
    position:absolute ;
    bottom: 0;
    transform: translateX(-10px);
}

#footer p {
    font-size: normal;
    align-self: center;
    padding: 3em 0em 2em 10em;
}

.grid_cell {
    align-self: baseline;
}

#gallery {
    padding-left: 2em;
    margin: 0 auto;
    display: grid;
    grid-gap: 100px;
}
.gallery {
    padding-left: 2em;
    margin: 0 auto;
    display: grid;
    grid-gap: 100px;
}
.gallery_line{
	margin: 0 auto;
	display: grid;
	grid-gap: 90px;
}
.exhibit_title{
	font-weight: bold;
	font-size: 20px;
}
.line_img_box{
	width: 340px;
	background: rgba(68,68,68,0.5) ;
	display: inline-block;
	position: relative;
	top: -115px;
	line-height: 25px;
	height: 100px;
	text-overflow: ellipsis;
	/* white-space: nowrap; */
	overflow: hidden;
	padding: 0 10px;
}
.line_title{
	text-align: center;
	font-size: 34px;
	line-height: 90px;
}
.line_box{
	width: 360px;
	margin: auto;
}
.grid_cell {
    align-self: baseline;
}

@media (min-width: 600px) {
    #gallery, { 
        display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 10px;
		text-align: center;
		/* grid-template-columns: 1fr 1fr 1fr; */
		/* grid-template-rows: 100% 100%; */
		/* grid-row-gap: 15px; */
    }
	.gallery_line {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-column-gap: 10px;
		text-align: center;
	}
  }

@media (min-width: 900px) {
    #gallery { 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        text-align: center;
    }
	.gallery_line {
	   display: grid;
	   grid-template-columns: repeat(3, 1fr);
	   grid-column-gap: 10px;
	   text-align: center;
	}
  }

@media (min-width: 1200px) {
    #gallery { 
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 10px;
        text-align: center;
    }
	.gallery_line {
	   display: grid;
	   grid-template-columns: repeat(3, 1fr);
	   grid-column-gap: 10px;
	   text-align: center;
	}
  }


.gallery_thumb {
    width: 250px;
    object-fit: cover;
}

#exhibit {
    width: 300px;
}

@media (min-width: 600px) {
    #exhibit {
        width: 550px;
    }
}

@media (min-width: 900px) {
    #exhibit {
        width: 850px;
    }
}

@media (min-width: 1200px) {
    #exhibit {
        width: 1150px;
    }
}

.container{transform: translateY(70px);}

#content {
    margin-right: auto;
    margin-left: auto;
    padding: 150px 150px 20px 150px;

}
#cont {
    margin-right: 120px;
    margin-left: 120px;
    margin-bottom: 30px;
    padding: 30px 150px 30px 150px;
    background: rgba(173, 173, 173, 0.25);
    overflow: hidden;
    border-radius: 10px;
    transition:1.8s;
}

#cont::before{
    content: '';
    filter: blur(20px);
    z-index: -1;
}
#cont p {
    font-size:17px;
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: justify; 
    text-justify:inter-ideograph; 
}
#cont:hover {
    transform:scale(1.05);
  
}
#content p {
    font-size:15px;
    line-height: 1.5;
    margin-bottom: 20px;
}

#content .exhibit-img {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: auto;
    transition:all 1s linear;
}

#content .exhibit-img:hover {
    transform:scale(1.02);

}


#content .exhibit-title {
    margin-bottom: 10px;
    font-size: 3em;
    font-family:Arial;
    text-align: center;
}

#content .exhibit-division{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 1.7em;
    font-family:Arial;
    text-align: center;
    text-decoration: underline;
}

#content .exhibit-division a:hover{
    color: rgb(94, 14, 14);
}

#content .exhibit-division:hover{
    color: rgb(94, 14, 14);
}


.close {
    margin-left: 10em;
    color: white;
    width: 15%;
    background-color: rgba(124, 40, 40, 0.9);
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 4px;
}


.close:hover {
    opacity: .3;
    transform:scale(1.1);
    transition:.5s;
}


#search-input:focus {
    outline: none;
    border-color: rgb(102, 175, 233);
    background-color: #fff;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #007fff;
}

#search-input {
    width: 90%;
    height: 35px;
    color: #333;
    background-color: #e4e4e448;
    line-height: 35px;
    margin-left: 50px;
    padding:0px 16px 0px 16px;
    border: hidden;
    font-size: 16px;
    font-weight: bold;
    border-radius: 17px;
    outline: none;
    box-sizing: border-box;
   
    }
#search_text {
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.795);
}

#results-container {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}


.map{
    float:left;
    width:150px;
    margin-left: 300px;
}

.maptext{
    float:right;
    margin-right: 400px;

}


.division-container {
    display: grid;
    grid-template-columns: 45% 55%;
    grid-gap: 5px;
    padding: 10px;
  }
  
  .division-container div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  
  .div-name {
      padding: 15px;
      text-align: left;
      font-size: 20px;
      font-weight: 700;
  }
  
  .div-intro {
      padding: 15px;
      text-align: left;
      list-style-type: none;
      font-size: 20px;
  }
  
  .div-link {
      text-decoration: none;
      color: black;
  }
  
  .div-link:hover{
      color: rgb(26, 21, 21);
      text-decoration: underline;
  }
  
  .divisiontext::after {
      filter: blur(4px);
  }

.about_text1 {
    font-weight: 700;
    text-align: center;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    padding-top:10px;
    font-style: italic;

}

.about_text2 {
    font-weight: bold;
    color: rgb(24, 23, 23);
    font-size: 18px;
    padding: 20px 40px 20px 40px;
    margin:-10px 260px -10px 260px;
    text-align: justify; 
    text-justify:inter-ideograph; 
    line-height: 1.3;
    border-radius: 5px;
    background: rgba(173, 173, 173, 0.164);
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, .3);
    overflow: hidden;
    transition: 1s;
}

.about_text2::before{
    content: '';
    filter: blur(20px);
    z-index: -1;
}
.about_text3 {
    font-weight: bold;
    color: rgb(24, 23, 23);
    font-size: 18px;
    padding: 20px 40px 20px 40px;
    margin:-10px 260px -10px 260px;
    text-align: justify; 
    text-justify:inter-ideograph; 
    line-height: 1.3;
    border-radius: 5px;
    background: rgba(173, 173, 173, 0.164);
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, .3);
    overflow: hidden;
    transition: 1s;
}

.about_text3::before{
    content: '';
    filter: blur(20px);
    z-index: -1;
}
.about_text2:hover{
    transform:scale(1.015);
}
.about_text3:hover{
    transform:scale(1.015);
}

.foot-container {
    width: 101.25%;
    transform: translateX(-10px);
    margin-top: 80px;
    background-color: black;
    padding-top: 30px;
    display: flex;
}
.kcl-dept {
    background-color: black;
    float: left;
    width: 55%;
}
.kcl-dept img {
    float: left;
    width: 150px;
    padding: 0px 30px 30px 50px;
}
.kcl-dept h3 {
    float: left;
    font-size: 25px;
    padding-top: 30px;
    letter-spacing: 1px;
    font-weight: 700;
}
.kcl-addy {
    background-color: black;
    float: right;
    width: 45%;
    text-align: right;
}
.kcl-addy p {
    font-size: 20px;
    padding: 20px 50px 0px 50px;
    margin-bottom: 0;
}
.foot-container h3, .foot-container p {
    color: ghostwhite;
    font-family: 'Times New Roman', serif;
}

