

body  {
    background: linear-gradient(135deg,#A84328,#712812);
    color: white;
}

p {
    font-family: sans-serif;
    text-align: left;
}

ul {
    font-family: sans-serif;
    list-style: none;
}

.navigation{ 
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.8);
    width:100%;
    height:50px;
    position:fixed;
    top:0;
    font-family: sans-serif;
    font-size: 1em;
    transform: translateX(-9px);}

.navvi{
  display: flex;
  align-items: center;
  line-height: 50px;
  transform: translateY(-16px);
  
}
.logo{
    font-family: Brush Script MT;
    font-size: 1.8em;
    width:800px;
    text-align: left;
    color:rgba(145, 45, 45, 0.932);

}
.button{
  width: 170px;
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.button:hover {
  background-color: rgba(124, 40, 40, 0.9);
}

.button:hover a{
   font-size: larger;
  }


a:link {
    color: rgba(255, 250, 245, 1);
    text-decoration: none;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

header {
    background-image: url("./assets/BN.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    width:100.8%;
    height: 700px;
    transform: translateY(-19px);
    margin:-5px; 
}

#wrapper {
    max-width: 1200px;
    margin: auto;
}

#footer {
    background-color: black;
    padding-bottom: 3em;
    text-align: center;
    width:110%;
    height:100px;
    position:absolute ;
    bottom: 0;
    transform: translateX(-10px);
}

#footer p {
    font-size: normal;
    align-self: center;
    padding: 3em 0em 2em 10em;
}

#gallery {
    padding-left: 2em;
    margin: 0 auto;
    display: grid;
    grid-gap: 100px;
}

.grid_cell {
    align-self: baseline;
}

@media (min-width: 600px) {
    #gallery { 
        grid-template-columns: repeat(2, 275px); 
    }
  }

@media (min-width: 900px) {
    #gallery { 
        grid-template-columns: repeat(3, 275px); 
    }
  }

@media (min-width: 1200px) {
    #gallery { 
        grid-template-columns: repeat(4, 275px); 
    }
  }

.gallery_thumb {
    width: 250px;
    object-fit: cover;
}

#exhibit {
    width: 300px;
}

@media (min-width: 600px) {
    #exhibit {
        width: 550px;
    }
}

@media (min-width: 900px) {
    #exhibit {
        width: 850px;
    }
}

@media (min-width: 1200px) {
    #exhibit {
        width: 1150px;
    }
}

.container{transform: translateY(70px);}

#content {
    margin-right: auto;
    margin-left: auto;
    padding: 150px 150px 20px 150px;
}

#content p {
    font-size:15px;
    line-height: 1.5;
    margin-bottom: 20px;
}

#content .exhibit-img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
}

#content .exhibit-title {
    margin-bottom: 10px;
    font-size: 2em;
    font-family:Arial;
    text-align: center;
}

#content .exhibit-division{
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 1.8em;
    font-family:Arial;
    text-align: center;
}

#content .exhibit-division a:hover{
    color: rgb(94, 14, 14);
}


.close {
    margin-left: 10em;
    color: white;
    width: 15%;
    background-color: rgba(124, 40, 40, 0.9);
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 15px;
    border-radius: 4px;
}

.close:hover {
    opacity: .3;
}


#search-input:focus {
    outline: none;
    border-color: rgb(102, 175, 233);
    background-color: #fff;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #007fff;
}

#search-input {
    width: 90%;
    height: 35px;
    color: #333;
    background-color: #e4e4e448;
    line-height: 35px;
    margin-left: 50px;
    padding:0px 16px 0px 16px;
    border: hidden;
    font-size: 16px;
    font-weight: bold;
    border-radius: 17px;
    outline: none;
    box-sizing: border-box;
   
    }
#search_text {
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.795);
}

#results-container {
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

.about_text1 {
    font-weight: 600;
    text-shadow: 0.5px 0.5px 0 rgb(133, 132, 132),1px 1px 0 #333,1px 1px 0 #444;
    text-align: center;
    font-size: 22px;
    color: black;
    padding-top: 5px;
}

.about_text2 {
    font-weight: bold;
    color: rgb(24, 23, 23);
    font-size: 18px;
    padding-top: 5px;
}

.map{
    float:left;
    width:150px;
    margin-left: 300px;
}

.maptext{
    float:right;
    margin-right: 400px;

}
