---
---

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
</head>
<body>
    <div id = "">
        <div class="navigation">   
            <ul class="navvi">
                    <li class="logo"> The Forbbiden City </li>
                    <li class="button"> <a href="{{ site.baseurl }}/HOME">HOME</a></li>
                    <li class="button"> <a href="{{ site.baseurl }}/divisions">Divisions</a></li>
                    <li class="button"> <a href="{{ site.baseurl }}/search">Search</a></li>
                    <li class="button"> <a href="{{ site.baseurl }}/about">About</a></li>
                </ul>   
    
    </div>
        <div id = "content">
            {% assign licence = site.data.licences | find: "licence", page.licence %}
            {% assign division = site.data.divisions | find : "division", page.division %}
            <img src = "{{ page.image-url }}" id = "">
            <p>{{ page.title }} in <a href = "{{ division.weburl }}">{{ page.division }}</a></p>
            <p>Built Time: {{ page.time }}</p>
            <p>Architectural Parameters: {{ page.para }}</p>
            <p>Introduction: {{ page.intro }}</p>
            <p>Tag: {{ page.tags }}</p>
            <p><a href = "{{ licence.url }}">{{ page.licence }}</a></p>
        </div>
        <div id = "">
            <p>Creat by Chenkai, Zhuoqun, Mengxin, Ruowei</p>
        </div>
    </div>
</body>