---
---

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">

</head>
<header>
    <div class=“coll”>

        </div>

</header>
<body>
    <div class="navigation">   
            <ul class="navvi">
                    <li class="logo"> The Forbbiden City </li>
                    <li class="button"> <a href="{{ site.baseurl }}/HOME">HOME</a></li>
                    <li class="button"> <a href="{{ site.baseurl }}/divisions">Divisions</a></li>
                    <li class="button"> <a href="{{ site.baseurl }}/search">Search</a></li>
                    <li class="button"> <a href="{{ site.baseurl }}/about">About</a></li>
                </ul>   
    
    </div>
   

    <div class="container">
        {{ content }}
    </div>
</body>