---
---

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">

</head>

<body>
    <div class="navigation">   
            <ul class="navvi">
                    <li class="logo"> The Forbbiden City </li>
                    <li class="button"> <a href="{{ site.baseurl }}/HOME">Home</a></li>
                    <li class="button"> <a href="{{ site.baseurl }}/divisions">Divisions</a></li>
                    <li class="button"> <a href="{{ site.baseurl }}/search">Search</a></li>
                    <li class="button"> <a href="{{ site.baseurl }}/about">About</a></li>
                </ul>   
    
    </div>
   

    <div class="container">
        {{ content }}
    </div>
    <div class="foot-container">
        <div class="kcl-dept">
            <img src="/assets/kcl.jpg" alt="kcl-logo">
            <h3>Faculty of<br>Arts &amp; Humanities</h3>
        </div>
        <div class="kcl-addy">
            <p>Department of Digital Humanities<br>Strand Building, Strand, London WC2R 2LS<br>United Kingdom</p>
        </div>
    </div>
    
</body>

